* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans Thai Looped", sans-serif;
}

:root {
    --primary-color: white;
    --secondary-color: #212529;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 93vh;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.text-40 {
    font-size: 40px;
    font-weight: 900;
}

.toggle-mode {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.content.dark {
    --primary-color: #212529;
    --secondary-color: white;
}