* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans Thai Looped", sans-serif;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 93vh;
}

.text-40 {
    font-size: 40px;
    font-weight: 900;
}

.content.dark {
    background-color: #212529;
    color: white;
}